<div id ="create_cbg_dialog" style="display:none;">
    <form jwcid="cbgAddForm@Form" async="true" updateComponents="cbgAddForm">
	    <label for="group_name"><span key="groupName"/></label><input type="text" name="group_name" id="group_name">
	    <fieldset><legend><span key="searchCriteria"/></legend>
	        <span key="groupResources"/>&nbsp;
	        <span jwcid="@RadioGroup" selected="ognl:isAny">
	        <span jwcid="@Radio" value="ognl:true"/>
	        <span key="any"/>
	        <span jwcid="@Radio" value="ognl:false"/>
	        <span key="all"/>
	        </span>&nbsp;
	        <span key="selectPost"/><br>
	        <table id="criteria_dialog_table">
	            <tbody>
	               <span jwcid="@For" source="ognl:critterList" value="ognl:critter" index="ognl:critterIndex">
	               <tr>
	               <td>
	                   <select jwcid="critterType@PropertySelection" model="ognl:critterTypeList" value="ognl:critter.selectedType"/>
	               </td>
	               <td>
	                   <input jwcid="@TextField" value="ognl:critter.stringValue"/>
	               </td>
	               <td>
	                   <if jwcid="@If" condition="critterIndex > 0">
	                       <div jwcid="@LinkSubmit" listener="listener:onDeleteRow" 
	                           parameter="ognl:critterIndex" updateComponents="cbgAddForm">+</div> 
	                   </if>
	               </td>
	               <td>
	                   <if jwcid="@If" condition="ognl:critterIndex == critterList.size()">
	                       <div jwcid="@LinkSubmit" listener="listener:onAddRow" updateComponents="cbgAddForm">-</div>
	                   </if>
	               </td>
	               </tr>
	               </span>
	            </tbody>
	        </table>
	    </fieldset>
	    <div class="button">
	       <a jwcid="createButton@LinkSubmit" listener="ognl:createListener" class="buttonGreen" id="createButton" async="true" updateComponents="cbgAddForm">
	          <span><span key="createButton"/></span>
	       </a>
	    </div>
	    <div class="button">
           <a jwcid="createCancelButton@LinkSubmit" listener="listener:onCancelListener" class="buttonGray" id="createCancelButton" async="true" updateComponents="cbgAddForm">
              <span><span key="cancelButton"/></span>
           </a>
        </div>
    </form>
</div>