<div id ="delete_cbg_dialog" style="display:none;">
    <strong><span key="deleteConfirmMsg"/>&nbsp;<span jwcid="@Insert" value="ognl:groupName"/></strong>.
    <br />
    <div class="dialogButtonBox">
	<div class="button">
	   <a jwcid="@DirectLink" listener="ognl:deleteListener" class="buttonGreen" id="deleteButton" async="true">
	      <span><span key="deleteButton"/></span>
	   </a>
	</div>
	<div class="button">
       <a href="javascript:void(0)" class="buttonGray" id="cancelButton">
          <span><span key="cancelButton"/></span>
       </a>
    </div>
	</div>
</div>