<div id ="update_cbg_dialog" style="display:none;">
    <div class="modifyDialogInstructions"><span key="whatIsThisBeg"/>&nbsp;<span jwcid="@Insert" value="ognl:groupName"/>&nbsp;<span key="whatIsThisEnd"/></div>
    <form jwcid="@Form" async="true">
    <fieldset><legend><span key="additions"/></legend>
        <div jwcid="propAdd@Block"><span key="propAdditions"/></div>
        <div jwcid="toAdd@Block"><span key="toAdd"/></div>
        <select jwcid="@contrib:Palette" rows="12" selected="ognl:selectedAddItems" model="ognl:availableAddItems" 
            selectedTitleBlock="component:propAdd" availableTitleBlock="component:toAdd" 
            sort="@org.apache.tapestry.contrib.palette.SortMode@LABEL"/>
        
    </fieldset>
    <fieldset><legend><span key="toRemove"/></legend>
        <div jwcid="propRem@Block"><span key="propRemovals"/></div>
        <div jwcid="toRem@Block"><span key="removals"/></div>
        <select jwcid="@contrib:Palette" rows="12" selected="ognl:selectedRemoveItems" model="ognl:availableRemoveItems" 
	        selectedTitleBlock="component:propRem" availableTitleBlock="component:toRem" 
	        sort="@org.apache.tapestry.contrib.palette.SortMode@LABEL"/>
        
    </fieldset>
    <div class="dialogButtonBox">
    <div class="button">
       <a jwcid="@DirectLink" listener="ognl:modifyListener" class="buttonGreen" id="modifyButton" async="true">
          <span><span key="modifyButton"/></span>
       </a>
    </div>
    <div class="button">
       <a href="javascript:void(0)" class="buttonGray" id="cancelModifyButton">
          <span><span key="cancelButton"/></span>
       </a>
    </div>
    </div>
    </form>
</div>
