#footer {
	width: 100%;
	padding: 5px 0;
	margin-top: 10px;
}

#footer span {
	float: left;
	width: 10%;
}

#footer span#aboutInfo {
	width: 60%;
}

#footer .footerWarning {
    padding: 5px 0;
    width: 100%;
}

#footerContent {
	overflow: hidden;
	padding: 5px 0;
}

#header {
	width: 100%;
    position: relative;
    height: 64px;
}

#headerLinks {
    position: absolute;
    top: 0;
    right: 0px;
    height: 20px;
    text-align: right;
    padding: 8px 10px 0 0;
}

#headerLinks li {
	margin: 0 5px;
	list-style: none;
    float: left;
}

#headerLinks span {
    margin-left: 8px;
}

#headerLinks ul {
	margin: 0;
}

#updateLink {
	position: absolute;
	left: 8px;
}

#header #loading {
	display: none;
	position: absolute;
	bottom: 0;
	right: 5px;
}

#headerSearch {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 10px;
}

#headerSearchResults {
    height: auto;
    padding: 4px;
    width: 265px;
    z-index: 9;
    position: absolute;
    right: 10px;
    top: 60px;
}

#headerSearchResults .category {
    margin-bottom: 3px;
    padding: 2px;
}

#headerSearchResults ul {
    margin: 0;
    padding: 4px;
}

#headerSearchResults li {
    margin: 2px 0;
    padding: 1px 0 1px 22px;
}

#searchBox { 
	padding: 0.25em;
	padding-left: 20px;
	width: 212px;
}

#searchClose {
    height: 16px;
    width: 16px;
    margin-top: 3px;
}

#headerLogo {
	position: absolute;
    left: 10px;
}

#loginPanel {
	margin:10% auto 0;
}

#loginPanel {
    width: 350px;
	padding: 16px 16px 10px;
	text-align: left;
}

#loginPanel .fieldRow {
    height:33px;
    position:relative;
    clear:none;
}

#loginPanel .fieldRow input {
    position:absolute;
    right:5px;
    top:5px;
    float:none;
}

#loginPanel .fieldRow label {
    top: 5px;
    position: absolute;
    text-align:left;
    float:none;
    padding: 0.15em;
    margin: 0.5em 0
}

#loginPanel .fieldsetNote {
	padding-bottom: 0.25em;
}

#loginPanel form fieldset {
	padding: 0 5px;
	margin-bottom: 1em;
}

#loginPanel form fieldset p {
	margin: 1em 0;
}

#loginPanel form fieldset p label {
	padding-left: 5px;
}

#loginPanel .guestUser {
	margin-right:0;
}

#loginPanel .guestUserLinkContainer {
	margin-top: 5px; 
	text-align: right;
}

#loginPanel input[type="password"], 
#loginPanel input[type="text"] {
	padding: 0.25em;
    margin-right:5px;
}

#loginPanel .submitButtonContainer {
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
}

#loginPanel .msgPanel {
	margin-bottom: 9px;
	padding: 5px 2px 5px 28px;
}

input[type="submit"], input[type="button"] {
	padding: 3px 15px;
}