body { background: #EFEFEF; }

#header { 
	background: #ececec url('../../images/header_background.jpg') repeat-x scroll;
    border-bottom: 3px solid #2D6EBE;
}

#headerLogo {
	cursor: pointer;	
}

#headerLinks { color: #FFF; }
#headerLinks ul li a { 
	text-decoration: none;
	color: #88C7FC; 
}

#loginPanel {
    border: 3px solid #B0F6FF;
    background: #fff;
    -moz-box-shadow: 0 3px 3px #999;
	-webkit-box-shadow: 0 3px 3px #999;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#loginPanel .fieldsetTitle {
	font-size: 1.25em;
	font-weight: bold;
}

#loginPanel .fieldsetNote {
	border-bottom: 1px dotted gray;
}

#loginPanel form fieldset {
	border: 0;
}

#loginPanel .fieldRow label {
	font-weight: bold;
}

#loginPanel .guestUser {
	color: #45A8DF;
}

#loginPanel .fieldRow.active input {
	background-color: #D9E4F1;
}

#loginPanel input[type="submit"] {
	color: #fff;
	border: 1px solid #84B96D;
	background: #2DBF3D url('../../images/button-green-background.jpg') repeat-x bottom;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	padding: 3px 15px;
	cursor: pointer;
}

#loginPanel .msgError {
	background: url('../../images/exclamation.png') no-repeat scroll 6px 40% transparent;
	border: 1px solid red;
	color: red;
}