<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ToDo fix log4j warnings -->
     <root>        
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"  value="%d %-5p [%t] %c@%L: %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
         <param name="File" value="${server.home}/logs/server.log" />
         <param name="Append" value="true" />
         <param name="DatePattern" value="'.'yyyy-MM-dd" />
         <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d %-5p [%t] %c@%L: %m%n" />
         </layout>
     </appender>
   
    <logger name="org.springframework.amqp">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework.erlang">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.hyperic.hq.plugin.rabbitmq">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.rabbitmq">
        <level value="DEBUG"/>
    </logger>

</log4j:configuration>