#gemfirePlugin {
}

#gemfirePlugin #tabs-trees {
	float:left; 
	width:25%;
}

#gemfirePlugin #tabs-content {
	float:right;
	width:73%;
}

#gemfirePlugin #tabs-content .ui-state-disabled {
	display: none;
}

#gemfirePlugin ol li,
#gemfirePlugin ul li {
    line-height: 1.2em;
}

#gemfirePlugin .ui-tabs-panel,
#gemfirePlugin .scroll-pane {
    min-height: 500px;
    height:auto !important;
    height:"500px";
}

#gemfirePlugin .icon {
    background-repeat: no-repeat;
    background-position: left;
    padding: 2px 5px 2px 20px;
}

#gemfirePlugin .icon-hq {
    background-image: url('/hqu/vsphere/public/images/icons/hq.png');
}

#gemfirePlugin .icon-vcenter {
    background-image: url('/hqu/vsphere/public/images/icons/virtualcenter16x16.png');
}

#gemfirePlugin .icon-host {
    background-image: url('/hqu/vsphere/public/images/icons/host16x16.png');
}

#gemfirePlugin .icon-vm {
    background-image: url('/hqu/vsphere/public/images/icons/virtualmachine16x16.png');
}

#gemfirePlugin .icon-vm.on {
    background-image: url('/hqu/vsphere/public/images/icons/virtualMachine-poweredOn.png');
}

#gemfirePlugin .icon-vm.off {
    background-image: url('/hqu/vsphere/public/images/icons/virtualMachine-red.png');
}

#gemfirePlugin .icon-vm.suspended {
    background-image: url('/hqu/vsphere/public/images/icons/virtualMachine-suspended.png');
}

#gemfirePlugin .icon-vm.host-not-up a {
	color:#888;
	font-style:italic;	
}

#gemfirePlugin input#findResourceInput {
	border: 1px solid #aaa;
	margin-bottom:15px;
	width:100%;
	font-style: italic;
	color: #aaa;
}

#gemfirePlugin input#findResourceInput.dataentry {
	font-style: normal;
	color: #000;
}

#gemfirePlugin .panelHeader {
	padding-bottom:15px;	
}

#gemfirePlugin .refreshToolbar {
	background: url('/hqu/public/images/arrow_refresh.gif') no-repeat right;
	padding-right: 25px;
	cursor: pointer;
	cursor: hand;
	float:left;
}

#gemfirePlugin .lastUpdated {
	color: #aaa;
	font-style: italic;
	font-size: 1em;
	cursor: default;
}

#gemfirePlugin .panelHeader .navLink {
	float: right;
}

#gemfirePlugin .navLink a {
	font-weight: normal;
	background: url('/hqu/vsphere/public/images/new_window_icon.gif') no-repeat right;
	padding-right: 18px;
}

#gemfirePlugin #summaryPanels table {
	margin: 0;
	width: 100%;
	width: "95%"; /* IE Hack */
}
	
#gemfirePlugin #summaryPanels td.labelColumn {
	width: 125px;
}
	
#gemfirePlugin #summaryPanels .summarySection {
	float:left;
	margin-top:10px;
	width:49.5%;
	width: "47%"; /* IE hack */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

#gemfirePlugin #summaryPanels .summarySection.secondary {
	background-color:#EEEEEE;
	clear:both;
	float:none;
}

#gemfirePlugin #summaryPanels .summarySection.first {
	clear:both;
	background-color:#EFF1FF;
	float:none;
	width:100%;
}

#gemfirePlugin #summaryPanels .summarySection.last {
	clear:none;
	float:right;
}

#gemfirePlugin #summaryPanels .summarySection div {
	padding:10px;	
}

#gemfirePlugin #summaryPanels .sectionHeader {
	width: 100%;
	display: block;
	font-size: 1.15em;
	font-weight: bold;
	padding-bottom: 5px;
}
	
#gemfirePlugin #summaryPanels .sectionSubHeader {
	display: block;
	font-size:1em;
	font-weight:normal;
	padding-bottom: 3px;
}

#gemfirePlugin .vm-action-container {
	padding: 15px; 
	background-color: #EFF1FF; 
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin-top: 10px;
	position: relative;
}

#gemfirePlugin .vm-action-container h2 {
	margin: 10px 0;
}

#gemfirePlugin .vm-action-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 50%;
}

#gemfirePlugin .vm-action {
	padding-left: 20px;
	height: 24px;
}

#gemfirePlugin .vm-action a {
	font-weight: normal;
	padding-left: 3px;
}

#gemfirePlugin .vm-action-start {
	background: url('/hqu/vsphere/public/images/icons/poweron16x16.png') no-repeat;
}

#gemfirePlugin .vm-action-stop {
	background: url('/hqu/vsphere/public/images/icons/poweroff16x16.png') no-repeat;
}

#gemfirePlugin .vm-action-suspend {
	background: url('/hqu/vsphere/public/images/icons/powersuspend16x16.png') no-repeat;
}

#gemfirePlugin .vm-action-reset {
	background: url('/hqu/vsphere/public/images/icons/restart16x16.png') no-repeat;
}

#gemfirePlugin .vm-action-rebootguest {
	background: url('/hqu/vsphere/public/images/icons/refresh16x16.png') no-repeat;
}

#gemfirePlugin .vm-action-guestheartbeatstatus {
	background: url('/hqu/vsphere/public/images/icons/heart.png') no-repeat;
}

#gemfirePlugin .vm-action-createsnapshot {
	background: url('/hqu/vsphere/public/images/icons/vm-snapshot.png') no-repeat;
}

#gemfirePlugin .vm-action-reverttocurrentsnapshot {
	background: url('/hqu/vsphere/public/images/icons/vm-snapshot-revert.png') no-repeat;
}

#gemfirePlugin .vm-action-removeallsnapshots {
	background: url('/hqu/vsphere/public/images/icons/vm-delete-snapshots.png') no-repeat;
}

#gemfirePlugin #controlStatus {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	background-color:#FFFFFF;
	height:180px;
	height:"230px"; /* IE Hack */
	padding:20px;
	position:absolute;
	right:15px;
	right:"30px"; /* IE Hack */
	top:39px;
	width:50%;
	margin-top:10px;
}

#gemfirePlugin #actionName {
	font-size: 1.25em;
	font-weight: bold;
}

#gemfirePlugin #actionDescription {
	font-style: italic;
	font-size: 1em;
}

#gemfirePlugin #actionStatus {
	font-size: 1.45em;
}

#gemfirePlugin #actionMessage {
	font-size: 1.25em;
}

#gemfirePlugin .action-failed {
	background: url('/hqu/vsphere/public/images/icons/error16x16.png') no-repeat;
	padding-left: 20px;
}

#gemfirePlugin .action-inprogress {
	background: url('/hqu/vsphere/public/images/status_bar.gif') no-repeat 0 3px;
	padding-left: 55px;
}

#gemfirePlugin .action-completed {
	background: url('/hqu/vsphere/public/images/icons/ok16x16.png') no-repeat;
	padding-left: 20px;
}

#gemfirePlugin #chartSettings {
	margin-top: 10px; 
	padding: 10px; 
	background-color: rgb(255, 238, 255); 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
}

#gemfirePlugin #chartSettings.notification {
	background-color: #FFFD99;
}

#gemfirePlugin #chartSettings span a {
	font-weight: normal;
}

#gemfirePlugin .chartcontainer {
	margin-top: 15px;
	height: 150px;
}

#gemfirePlugin .warning {
	background: url('/hqu/vsphere/public/images/icons/warning32x32.png') no-repeat 0 0;
	padding-left: 40px;
}

#gemfirePlugin .loading {
	background: url('/hqu/vsphere/public/images/loading-9x9.gif') 0 5px no-repeat;
	padding-left: 12px;
	margin-left: 25px;
}

.nodecontent span,
.nodecontent a {
	width: 100%;
	display: block;
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	-ms-text-overflow: ellipsis;
	-moz-binding: url('../xml/ellipsis.xml#ellipsis');  
}

.ui-button.ui-state-default {
	background: #2DBF3D url('/images/4.0/backgrounds/button-green-background.jpg') repeat-x scroll center bottom;
	color: #fff;
}