.BlockTitle {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: #60A5EA;
    }

#alertsTable {
    padding-bottom:15px;
}

#groupalertsTable {
    padding-bottom:15px;
}

#alertsTable table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    cursor: default;
}

#alertsTable table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#alertsTable	table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#alertsTable	table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#alertsTable	table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#alertsTable	table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#alertsTable	table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#alertsTable	table tbody tr.alt td {
    background: #eef4fc;
}

#alertsTable	table tbody tr.selected td {

}

#alertsTable	table tbody tr:hover td {
    background: #a6c2e7;
}

#alertsTable	table tbody tr.selected:hover td {

}

#groupalertsTable	table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    cursor: default;
}

#groupalertsTable table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#groupalertsTable	table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#groupalertsTable	table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#groupalertsTable	table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#groupalertsTable	table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#groupalertsTable	table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#groupalertsTable	table tbody tr.alt td {
    background: #eef4fc;
}

#groupalertsTable	table tbody tr.selected td {
}

#groupalertsTable	table tbody tr:hover td {
    background: #a6c2e7;
}

#groupalertsTable	table tbody tr.selected:hover td {

}

#inputArea {
    margin: 1em 0;
    padding: 1em;
    background-color: #eef;
}

#updateTestInput {
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
    font-family: serif;
    font-size: 0.9em;
    overflow: auto;
}

.pageCont {
    padding-bottom: 5px;
    padding-top: 5px;
    background: #eff0f2;
    border-top: 1px solid #D5D8DE;
    border-right: 1px solid #D5D8DE;
    border-left: 1px solid #D5D8DE;
}

.pageButtonCont {
    display: block;
    position: relative;
    float: right;
}

#pageLeft {
    position: relative;
    width: 19px;
    float: left;
}

.previousLeft {
    background-position: top left;
    background-image: url( "images/page_left.gif" );
    cursor: pointer;
}

.noprevious {
    background-position: top left;
    background-image: url( "images/page_left_gray.gif" );
}

#pageRight {
    position: relative;
    width: 19px;
    float: left;
}

.nextRight {
    background-position: top left;
    background-image: url( "images/page_right.gif" );
    cursor: pointer;
}

.nonext {
    background-position: top left;
    background-image: url( "images/page_right_gray.gif" );
}

#pageNumbers {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
}

.alertHighlight {
    background-color: #fad0c9;
}

.severityIcon {
   padding-right:5px;vertical-align:bottom;
}

.boldText {
    font-weight: bold;
}

.filterBox {
padding:8px;
}

.dojoTab div {
font-size:100%;
font-weight:bold;
}

.filters {
    background-color:#EFEFEF;
    border: 1px solid #7bafff;
}