.BlockTitle {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: #60A5EA;
    }

#alertsCont table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
}

#alertsCont  table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#alertsCont table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#alertsCont table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#alertsCont table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#alertsCont  table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#alertsCont table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#alertsCont table tbody tr.alt td {
    background: #eef4fc;
}

#alertsCont  table tbody tr.selected td {

}

#alertsCont table tbody tr:hover td {
    background: #a6c2e7;
}

#alertsCont table tbody tr.selected:hover td {

}




#defsCont div table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
      /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
}

#defsCont table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#defsCont table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#defsCont table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#defsCont table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#defsCont table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#defsCont table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#defsCont table tbody tr.alt td {
    background: #eef4fc;
}

#defsCont  table tbody tr.selected td {

}

#defsCont table tbody tr:hover td {
    background: #a6c2e7;
}

#defsCont table tbody tr.selected:hover td {

}

#inputArea {
    margin: 1em 0;
    padding: 1em;
    background-color: #eef;
}

#updateTestInput {
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
    font-family: serif;
    font-size: 0.9em;
    overflow: auto;
}

.pageCont {
    padding-bottom: 5px;
    padding-top: 5px;
    background: #eff0f2;
    border-top: 1px solid #D5D8DE;
    border-right: 1px solid #D5D8DE;
    border-left: 1px solid #D5D8DE;
}

.pageButtonCont {
    display: block;
    position: relative;
    float: right;
}

#pageLeft {
    position: relative;
    width: 19px;
    float: left;
}

.previousLeft {
    background-position: top left;
    background-image: url( "images/page_left.gif" );
    cursor: pointer;
}

.noprevious {
    background-position: top left;
    background-image: url( "images/page_left_gray.gif" );
}

#pageRight {
    position: relative;
    width: 19px;
    float: left;
}

.nextRight {
    background-position: top left;
    background-image: url( "images/page_right.gif" );
    cursor: pointer;
}

.nonext {
    background-position: top left;
    background-image: url( "images/page_right_gray.gif" );
}

#pageNumbers {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
}

.alertHighlight {
    background-color: #fad0c9;
}

.severityIcon {
   padding-right:5px;vertical-align:bottom;
}

.boldText {
    font-weight: bold;
}

.bottomPad {
    padding-bottom: 5px;
}

.clearBoth {clear:both;height:1px;}

.filterBox {
padding:8px;
}

.dojoTab div {
font-size:100%;
font-weight:bold;
}

.filters {
    background-color:#EFEFEF;
    border: 1px solid #7bafff;
}

.tableTitleWrapper {
    display:inline;
    float:left;
    width:325px;
    white-space:nowrap;
    padding-left:15px;top:7px;
    font-weight:bold;
    font-size:1.3em;
}

.alertInfo {
    width:300px;
    white-space:nowrap;
    display:inline;
    margin-left:20px;
    border: 1px solid rgb(213, 216, 222);
    padding:3px 15px 3px 15px;
    font-family:arial,sans-serif;
    font-size:11px;
    font-weight:normal;
    background-color: #DBE3F5;
    border-top: solid #ABB1C7;
    border-bottom: solid #C6CFE5;
    border-width: 1px;
}

.refreshButton {
    padding-right:15px;
    padding-left:10px;
    padding-top:2px;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
}

.acLoader {
    visibility: hidden;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
    padding-right:15px;
    background-image: url( "images/ajax-loader-blue.gif" );
    background-repeat: no-repeat;
    background-position: top left;
}

.acLoader2 {
    visibility: hidden;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
    padding-right:15px;
    background-image: url( "images/ajax-loader-blueBkd.gif" );
    background-repeat: no-repeat;
    background-position: top left;
}

/* Down Systems Page */

.leftbxblueborder {border:1px solid #7BAFFF;}
.downList{margin-right: 10px; width: 22%; float:left;display:inline;height: 400px;}
.downTableContainer{border: 1px solid rgb(96, 165, 234); overflow-x: hidden; overflow-y: auto; float: right;display:inline; width: 75%; height: 442px;}
 .leftbxht {padding:3px;height: 400px;overflow-x: hidden; overflow-y: auto;}
 .boxLinks {padding:3px 3px 0px 5px;display:inline;}
 .right{float:right;}
 .left{float:left;}
 .tree {padding:3px;border-top:1px solid #BDBDBD;border-left:1px solid #BDBDBD;border-right:1px solid #BDBDBD;border-bottom:1px solid #BDBDBD;height:98%;}
 .topCat {padding:3px;background-color:#DCF9FF;font-weight:bold;border:1px solid #BDBDBD;cursor:pointer;}
 .resourcetypelist {padding:5px; 3px 5px 3px;margin:0px;font-size:11px;}
 #resourceTree ul {margin:0px;padding:0px;}
 #resourceTree li:hover { background:#d9dfe7;}
.listItem {padding:3px; cursor:pointer;}
.downContainer{margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
#results_msg {width:78%;float:right;padding:3px;padding-bottom:5px;font-weight:bold;}
.countLinksActive{color: rgb(0, 51, 153); font-weight: bold; cursor: pointer;}
#downCont table {font-family: Lucida Grande, Verdana;font-size: 11px;width: 100%;border: 1px solid #ccc; border-collapse: collapse;
      /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
}
#downCont  table th {font-weight: bold;padding: 3px;padding-left: 5px;border-right: 1px solid #7bafff;border-top: 1px solid #7bafff;}
#downCont table td {padding: 3px;font-weight: normal;padding-left: 5px;}
#downCont table thead td, table thead th {background-image: url( "images/ft-head.gif" );background-repeat: no-repeat;background-position: top right;}
#downCont table thead td.selectedUp, table thead th.selectedUp {background-image: url( "images/ft-headup.gif" );}
#downCont  table thead td.selectedDown, table thead th.selectedDown {background-image: url( "images/ft-headdown.gif" );}
#downCont table tbody tr td {border-bottom: 1px solid #ddd;}
#downCont table tbody tr.alt td {background: #eef4fc;}
#downCont  table tbody tr.selected td {}
#downCont table tbody tr:hover td {background: #a6c2e7;}
#downCont table tbody tr.selected:hover td {}


/* Nagios page */
.nagContainer{margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
.nagTableContainer{border: 1px solid rgb(96, 165, 234); overflow-x: hidden; overflow-y: auto; float: right;display:inline; width: 99%; height: 442px;}
#nagCont table { font-family: Lucida Grande, Verdana;font-size: 11px;width: 100%;border: 1px solid #ccc;border-collapse: collapse;cursor: default;}
#nagCont  table th {font-weight: bold;padding: 3px;padding-left: 5px;border-right: 1px solid #7bafff;border-top: 1px solid #7bafff;}
#nagCont table td {padding: 3px;font-weight: normal;padding-left: 5px; }
#nagCont table thead td, table thead th {background-image: url( "images/ft-head.gif" );background-repeat: no-repeat;background-position: top right;}
#nagCont table thead td.selectedUp, table thead th.selectedUp {background-image: url( "images/ft-headup.gif" ); }
#nagCont  table thead td.selectedDown, table thead th.selectedDown {background-image: url( "images/ft-headdown.gif" ); }
#nagCont table tbody tr td {border-bottom: 1px solid #ddd;}
#nagCont table tbody tr.alt td {background: #eef4fc;}
#nagCont  table tbody tr.selected td {}
#nagCont table tbody tr:hover td {}
#nagCont table tbody tr.selected:hover td {}
.statusBGCRITICAL {background-color: #FFBBBB; }
.statusCRITICAL{background-color:#F83838;}
.statusBGUNKNOWN {background-color: #FFDA9F; }
.statusUNKNOWN {background-color:#FF9900;}
.statusBGOK {background-color:#bbffc0;}
.statusOK {background-color:#33FF00;}
.statusBGWARNING {background-color: #FEFFC1; }
.statusWARNING {background-color: #ffff00;}

/* Live Exec */
.outerLiveDataCont {margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
.bxblueborder {border:1px solid #7BAFFF;overflow-y:auto;}
.leftbx {float:left;width:18%;margin-right:10px;height:400px;}
.BlockTitle {font-family: arial, sans-serif;font-size: 12px;color: #ffffff;font-weight: bold;background-color: #60A5EA;}
#result {padding:0px;margin:0px;float:right;width:78%;display:inline;height: 400px;overflow-x: hidden; overflow-y: auto;}
#result thead {width:100%;padding:0px;margin:0px;}
#result table thead td {font-family: arial, sans-serif;font-size: 12px;color: #ffffff;font-weight: bold;background-color: #60A5EA;padding:3px;margin:0px;}
#result table{width:100%;padding:0px;}
#result table td {padding:3px;border-bottom:1px solid #cccccc;}
.fivepad {padding:5px;}
.instruction1 {padding-bottom:3px;font-weight:bold;}
#commandSelect {width:140px;}
.bottomPad {padding-right:5px;}
.pendingData li {color:gray;}
.hasData  li {color:black;}
.goodResults  {cursor:pointer;}
.grpmembertext{padding:3px;margin-top:10px;margin-bottom:5px;background-color:#868787;color:#FFFFFF;font-weight:bold;font-size: 12px;}
#groupMembers {padding-bottom:5px;overflow-y:auto;overflow-x: hidden;height:298px;}
#groupMembers ul {margin:0px;padding:0px;list-style-type:none;}
#groupMembers li {padding:1px;white-space:nowrap;}
.metricGroup{
   margin-top:2px;
}
.metricRow{
    margin-left:15px;
}
.metricCatLabel{
    font-weight:bold;
}
.metricGroupBlock{
	float:left;
    margin-right:30px;   
    margin-bottom:20px;
    font-family:Verdana;
}
#metrics table,td,tr{
	font-family:Verdana;
	font-size:11px;
	margin-left:14px;
}
.barContainer{
    border: 1px dotted #DBDBDB;padding:1px;width:100px;
    white-space: nowrap;
}
.bar{
	height: 12px; background-color:#88C7FF;text-align:center;width:0px;
}
#bodyTabContainer .dojoTabPane{
    overflow:auto;
}