.BlockTitle {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: #60A5EA;
    }

#alertsCont table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
    table-layout: fixed
}

#alertsCont  table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#alertsCont table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#alertsCont table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#alertsCont table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#alertsCont  table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#alertsCont table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#alertsCont table tbody tr.alt td {
    background: #eef4fc;
}

#alertsCont  table tbody tr.selected td {

}

#alertsCont table tbody tr:hover td {
    background: #a6c2e7;
}

#alertsCont table tbody tr.selected:hover td {

}




#defsCont div table {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
      /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
    table-layout: fixed
}

#defsCont table th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#defsCont table td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

#defsCont table thead td, table thead th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#defsCont table thead td.selectedUp, table thead th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#defsCont table thead td.selectedDown, table thead th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#defsCont table tbody tr td {
    border-bottom: 1px solid #ddd;
}

#defsCont table tbody tr.alt td {
    background: #eef4fc;
}

#defsCont  table tbody tr.selected td {

}

#defsCont table tbody tr:hover td {
    background: #a6c2e7;
}

#defsCont table tbody tr.selected:hover td {

}

#inputArea {
    margin: 1em 0;
    padding: 1em;
    background-color: #eef;
}

#updateTestInput {
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
    font-family: serif;
    font-size: 0.9em;
    overflow: auto;
}

.pageCont {
    padding-bottom: 5px;
    padding-top: 5px;
    background: #eff0f2;
    border-top: 1px solid #D5D8DE;
    border-right: 1px solid #D5D8DE;
    border-left: 1px solid #D5D8DE;
}

.pageButtonCont {
    display: block;
    position: relative;
    float: right;
}

#pageLeft {
    position: relative;
    width: 19px;
    float: left;
}

.previousLeft {
    background-position: top left;
    background-image: url( "images/page_left.gif" );
    cursor: pointer;
}

.noprevious {
    background-position: top left;
    background-image: url( "images/page_left_gray.gif" );
}

#pageRight {
    position: relative;
    width: 19px;
    float: left;
}

.nextRight {
    background-position: top left;
    background-image: url( "images/page_right.gif" );
    cursor: pointer;
}

.nonext {
    background-position: top left;
    background-image: url( "images/page_right_gray.gif" );
}

#pageNumbers {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    float: left;
}

.alertHighlight {
    background-color: #fad0c9;
}

.severityIcon {
   padding-right:5px;vertical-align:bottom;
}

.boldText {
    font-weight: bold;
}

.bottomPad {
    padding-bottom: 5px;
}

.clearBoth {clear:both;height:1px;}

.filterBox {
padding:8px;
}

.dojoTab div {
font-size:100%;
font-weight:bold;
}

.filters {
    background-color:#EFEFEF;
    border: 1px solid #7bafff;
}

.tableTitleWrapper {
    display:inline;
    float:left;
    width:325px;
    white-space:nowrap;
    padding-left:15px;top:7px;
    font-weight:bold;
    font-size:1.3em;
}

.alertInfo {
    width:300px;
    white-space:nowrap;
    display:inline;
    margin-left:20px;
    border: 1px solid rgb(213, 216, 222);
    padding:3px 15px 3px 15px;
    font-family:arial,sans-serif;
    font-size:11px;
    font-weight:normal;
    background-color: #DBE3F5;
    border-top: solid #ABB1C7;
    border-bottom: solid #C6CFE5;
    border-width: 1px;
}

.refreshButton {
    padding-right:15px;
    padding-left:10px;
    padding-top:2px;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
}

.acLoader {
    visibility: hidden;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
    padding-right:15px;
    background-image: url( "images/ajax-loader-blue.gif" );
    background-repeat: no-repeat;
    background-position: top left;
}

.acLoader2 {
    visibility: hidden;
    display: block;
    position: relative;
    float: right;
    width:16px;
    height:16px;
    padding-right:15px;
    background-image: url( "images/ajax-loader-blueBkd.gif" );
    background-repeat: no-repeat;
    background-position: top left;
}

/* Down Systems Page */
.expand {width:18px;height:18px;background: url( "images/expand_plus.gif" ) no-repeat right bottom;}
.collapse {background: url( "images/expand_minus.gif" ) no-repeat right bottom;}
.leftbxblueborder {border:1px solid #7BAFFF;}
.downList{margin-right: 10px; width: 22%; float:left;display:inline;height: 400px;}
.downTableContainer{border: 1px solid rgb(96, 165, 234); overflow-x: hidden; overflow-y: auto; float: right;display:inline; width: 75%; height: 442px;}
 .leftbxht {padding:3px;height: 398px;overflow-x: hidden; overflow-y: auto;
 /* IE issue left filter box different height due to box model - do not remove */
    *height: 400px;}
 .boxLinks {padding:3px 3px 0px 5px;font-size: 10px;display:inline;}
 .right {float:right;}
 .left {float:left;}
 .tree {padding:0px;height:99%;}
 .topCat {font-weight:bold;cursor:pointer;padding:3px 0px 3px 0px;}
 .resourcetypelist {padding:5px 3px 5px 3px;margin:0px;font-size:11px;}
 #resourceTree ul {margin:0px;padding:0px;}
#functionPanel {background-color:#EBEDF2;padding-bottom: 3px;}
.listItem {padding:3px 0px 3px 0px; cursor:pointer; margin-left:3px;}
.downContainer{margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
#results_msg {width:78%;float:right;padding:3px;padding-bottom:5px;font-weight:bold;}
.countLinksActive{color: rgb(0, 51, 153); font-weight: bold; cursor: pointer;}
#downCont table {font-family: Lucida Grande, Verdana;font-size: 11px;width: 100%;border: 1px solid #ccc; border-collapse: collapse;
      /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;
    table-layout: fixed
}
#downCont  table th {font-weight: bold;padding: 3px;padding-left: 5px;border-right: 1px solid #7bafff;border-top: 1px solid #7bafff;}
#downCont table td {padding: 3px;font-weight: normal;padding-left: 5px;}
#downCont table thead td, table thead th {background-image: url( "images/ft-head.gif" );background-repeat: no-repeat;background-position: top right;}
#downCont table thead td.selectedUp, table thead th.selectedUp {background-image: url( "images/ft-headup.gif" );}
#downCont  table thead td.selectedDown, table thead th.selectedDown {background-image: url( "images/ft-headdown.gif" );}
#downCont table tbody tr td {border-bottom: 1px solid #ddd;}
#downCont table tbody tr.alt td {background: #eef4fc;}
#downCont  table tbody tr.selected td {}
#downCont table tbody tr:hover td {background: #a6c2e7;}
#downCont table tbody tr.selected:hover td {}
.alertListIcon {padding-left:8px;}


/* Nagios page */
.nagContainer{margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
.nagTableContainer{border: 1px solid rgb(96, 165, 234); overflow-x: hidden; overflow-y: auto; float: right;display:inline; width: 99%; height: 442px;}
#nagCont table { font-family: Lucida Grande, Verdana;font-size: 11px;width: 100%;border: 1px solid #ccc;border-collapse: collapse;cursor: default; table-layout: fixed}
#nagCont  table th {font-weight: bold;padding: 3px;padding-left: 5px;border-right: 1px solid #7bafff;border-top: 1px solid #7bafff;}
#nagCont table td {padding: 3px;font-weight: normal;padding-left: 5px; }
#nagCont table thead td, table thead th {background-image: url( "images/ft-head.gif" );background-repeat: no-repeat;background-position: top right;}
#nagCont table thead td.selectedUp, table thead th.selectedUp {background-image: url( "images/ft-headup.gif" ); }
#nagCont  table thead td.selectedDown, table thead th.selectedDown {background-image: url( "images/ft-headdown.gif" ); }
#nagCont table tbody tr td {border-bottom: 1px solid #ddd;}
#nagCont table tbody tr.alt td {background: #eef4fc;}
#nagCont  table tbody tr.selected td {}
#nagCont table tbody tr:hover td {}
#nagCont table tbody tr.selected:hover td {}
.statusBGCRITICAL {background-color: #FFBBBB; }
.statusCRITICAL{background-color:#F83838;}
.statusBGUNKNOWN {background-color: #FFDA9F; }
.statusUNKNOWN {background-color:#FF9900;}
.statusBGOK {background-color:#bbffc0;}
.statusOK {background-color:#33FF00;}
.statusBGWARNING {background-color: #FEFFC1; }
.statusWARNING {background-color: #ffff00;}

/* Live Exec */
.outerLiveDataCont {margin-top:10px;margin-left:10px;margin-bottom:5px;padding-right:10px;}
.bxblueborder {border:1px solid #7BAFFF;overflow-y:auto;overflow-x: hidden;height: 400px;width:100%;}
.leftboxborder{border:1px solid #7BAFFF;overflow-y:auto;overflow-x: hidden;height: 408px;}
.leftbx {float:left;width:20%;height:400px;margin-right: 10px;}
.BlockTitle {font-family: arial, sans-serif;font-size: 12px;color: #ffffff;font-weight: bold;background-color: #60A5EA;}
#result_cont {float: right;display:inline; width: 78%;* width: 77%;}
#results_msgLive {padding:3px;padding-bottom:5px;font-weight:bold;}
#result thead {width:100%;padding:0px;margin:0px;}
#result table thead td {font-family: arial, sans-serif;font-size: 12px;color: #ffffff;font-weight: bold;background-color: #60A5EA;padding:3px;margin:0px;}
#result table{width:100%;padding:0px;table-layout:fixed}
#result table td {padding:3px;border-bottom:1px solid #cccccc;}
.fivepad {padding:5px 5px 0px 5px;}
.instruction1 {padding-bottom:3px;font-weight:bold;}
#commandSelect {width:140px;}
.bottomPad {padding-right:5px;}
.pendingData li {color:gray;}
.hasData  li {color:black;}
.goodResults  {cursor:pointer;}
.grpmembertext{padding:3px;margin-top:10px;margin-bottom:5px;background-color:#868787;color:#FFFFFF;font-weight:bold;font-size: 12px;}
#groupMembers {padding-bottom:5px;overflow-y:auto;overflow-x: hidden;height:298px;}
#groupMembers ul {margin:0px;padding:0px;}
#groupMembers li {padding:2px 0px;width:100%;list-style-type:none;}
.groupMemberName {display:inline;float:left;width:86%;overflow:hidden;}
.goodResults  {background: url("images/lightning_go.gif") no-repeat;cursor:pointer;}
.errorResults {background: url("images/lightning_delete.gif") no-repeat;cursor:pointer;}
 .restingExec {background: url("images/bullet_black.gif") no-repeat;}
.metricGroup{
   margin-top:2px;
}
.metricRow{
    margin-left:15px;
}
.metricCatLabel{
    font-weight:bold;
}
.metricGroupBlock{
	float:left;
    margin-right:20px;   
    margin-bottom:20px;
    font-family:Verdana;
    border:1px solid #ccc;
    padding:8px;
    height:184px;
}
#metrics table, #metrics td, #metrics tr{
	font-family:Verdana;
	font-size:11px;
	margin-left:14px;
}
.barContainer{
    border: 1px dotted #DBDBDB;padding:1px;width:100px;
    white-space: nowrap;
}
.bar{
	height: 12px; background-color:#88C7FF;text-align:center;width:0px;
}
#bodyTabContainer .dojoTabPane{
    overflow:auto;
}

/* HQ Health */

#cacheTable  {
    font-family: Lucida Grande, Verdana;
    font-size: 11px;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    /* IE issue loosing table border on left side - do not remove */
    *margin-left:1px;
    cursor: default;}
#cacheTable th {
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    border-right: 1px solid #7bafff;
    border-top: 1px solid #7bafff;
}

#cacheTable td {
    padding: 3px;
    font-weight: normal;
    padding-left: 5px;
}

 #cacheTabletd, #cacheTable th {
    background-image: url( "images/ft-head.gif" );
    background-repeat: no-repeat;
    background-position: top right;
}

#cacheTable td.selectedUp, #cacheTable th.selectedUp {
    background-image: url( "images/ft-headup.gif" );
}

#cacheTable td.selectedDown, #cacheTable th.selectedDown {
    background-image: url( "images/ft-headdown.gif" );
}

#cacheTable td {
    border-bottom: 1px solid #ddd;
}

#cacheTable tr.alt td {
    background: #eef4fc;
}

#cacheTable tr.selected td {

}

#alertsCont table tbody tr:hover td {
    background: #a6c2e7;
}

#alertsCont table tbody tr.selected:hover td {

}

#diagSelectControls {padding:5px;}
#querySelectControls {padding:5px;}
#diagData {width:98%;padding:10px 5px;}
#queryData {width:98%;padding:10px 5px;margin-left:auto;margin-right:auto;}

#queryData table { font-size: 11px;width: 100%;border-right: 1px solid #ccc;border-top:1px solid #ccc;}
#queryData thead {}
#queryData td {border-left: 1px solid #ccc;border-bottom:1px solid #ccc;padding:2px;}
pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
_white-space: pre; /* IE only hack to re-specify in addition to word-wrap */
font-family:monospace;
font-size:12px;
}

.printButton {border:1px solid #cccccc;padding:2px 6px 2px 6px;margin-left:5px;margin-top:5px;background-color:#F2F4F7;width:35px;}
.clickText {
    cursor: pointer;
    color: blue;
    text-decoration: underline
}

#EventLogs table{
    width: 100%;
    table-layout: fixed;
    *margin-left:1px
}

