[submodule "hq_bin/lather_bin"]
	path = hq_bin/lather_bin
	url = git://git.springsource.org/hq/lather.git
[submodule "hq_bin/sigar_bin"]
	path = hq_bin/sigar_bin
	url = git://git.springsource.org/hq/sigar_bin.git
[submodule "hq_bin/db2monitor_bin"]
	path = hq_bin/db2monitor_bin
	url = git://git.springsource.org/hq/db2monitor.git
[submodule "hq_bin/launcher_bin"]
	path = hq_bin/launcher_bin
	url = git://git.springsource.org/hq/launcher.git
[submodule "hq_bin/product_connectors"]
	path = hq_bin/product_connectors
	url = git://git.springsource.org/hq/connectors.git
[submodule "ui_plugins/hqapi1"]
	path = ui_plugins/hqapi1
	url = git://git.springsource.org/hq/hqapi1.git
[submodule "hq_bin/jboss"]
	path = hq_bin/jboss
	url = git@git.springsource.org:hq/jboss.git
[submodule "hq_bin/ant"]
	path = hq_bin/ant
	url = git@git.springsource.org:hq/ant.git
[submodule "hq_bin/pgsql"]
	path = hq_bin/pgsql
	url = git@git.springsource.org:hq/pgsql.git
[submodule "hq_bin/jres"]
	path = hq_bin/jres
	url = git@git.springsource.org:hq/jres.git
