[submodule "hq_bin/lather_bin"]
	path = hq_bin/lather_bin
	url = git://git.springsource.org/hq/lather.git
[submodule "hq_bin/sigar_bin"]
	path = hq_bin/sigar_bin
	url = git://git.springsource.org/hq/sigar_bin.git
[submodule "hq_bin/db2monitor_bin"]
	path = hq_bin/db2monitor_bin
	url = git://git.springsource.org/hq/db2monitor.git
[submodule "hq_bin/launcher_bin"]
	path = hq_bin/launcher_bin
	url = git://git.springsource.org/hq/launcher.git
