target
MANIFEST.MF
.classpath
.project
.settings
.springBeans

build
junit_results
activemq-data
ExecutionStrategyStates.dat

hq-plugin/gemfire-plugin/nbactions.xml
hq-plugin/weblogic-plugin/nbactions.xml