body { background: #EFEFEF; }

#header { 
	-moz-box-shadow: 0px 2px 2px #ccc;
	background-color: #ececec;	
}

#headerLinks { color: #FFF; }
#headerLinks ul li a { color: #88C7FC; }

#loginPanel {
    border: 3px solid #B0F6FF;
    background: #fff;
    -moz-box-shadow: 0 3px 3px #999;
	-webkit-box-shadow: 0 3px 3px #999;
}

#loginPanel .guestUser {
	color: #45A8DF;
}

#loginPanel .fieldRow.active input {
	background-color: #FFFFBF;
}