#headerLinks { 
	font-size: 0.925em;
    font-weight: bold;
    padding: 6px 10px 0 0;
}

#headerLinks li {
	margin: 0;
}


#headerLinks ul li a,
#headerLinks span {
    margin-left: 11px;
}

#headerLinks ul li a { 
	font-weight: bold;
}

#headerLinks span {
	font-weight: normal;	
}

#headerLinks ul li:first-child a {
	margin-left: 0;
}

#headerAlerts {
    height: 38px;
    left: 382px;
    position: absolute;
    top: 0;
    width: 360px;
	color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}

#headerTabs {
	position: absolute;
    width: 500px;
    bottom: 0;
	left: 362px;
	margin: 0;
}

#headerTabs ul {
	list-style: none;
    padding: 0;
    margin: 0;
}

#headerTabs li {
    cursor:pointer;
}

#headerTabs ul li.tab {
	float: left;
	background: url('../../images/tab_main.gif') no-repeat left top;
	margin-right: 6px;
    padding: 0 5px;
    text-align: left;
}

#headerTabs ul li.tab a {
	background: url('../../images/tab_cap.gif') no-repeat right top;
	margin-left: 5px;
    margin-right: -10px;
    padding: 7px 8px 5px 0;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    display: block;
}

#headerTabs ul li.tab.active {
	background: url('../../images/tab_main_active.gif') no-repeat left top;
}

#headerTabs ul li.tab.active a {
	background: url('../../images/tab_cap_active.gif') no-repeat right top;
	color: #fff;
}

#headerTabs li.tab ul.root,
#headerTabs li.subMenu ul {
	display: none;
}

#headerTabs li.tab.hover ul.root,
#headerTabs li.subMenu.hover ul {
	display: block;
}

#headerTabs li ul.root {
	background: #fff;
	border: 1px solid #2D6EBE;
    width: 150px;
    margin-left: -6px;
    position: absolute;
    top: 100%;
}

#headerTabs ul.root li {
	padding: 5px;
	position: relative;
}

#headerTabs ul.root li a {
    background-image: none;
    color: #3179D4;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
}

#headerTabs li.subMenu {
	background: url('../../images/resultset_next.png') no-repeat right center #fff;
}

#headerTabs li.subMenu ul {
	display: none;
	position: absolute;
	left: 149px;
	top: 0;
	background: #fff;
	border: 1px solid #2D6EBE;
	width: 300%;
}

#recentText {
	padding-top: 5px;
    float: left;
    display: block;
}

#recentAlerts {
    font-size: 11px;
    padding: 4px 0 0 5px;
    float: left;
}

#recentAlerts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#recentAlerts li {
	margin: 0;
	padding-left: 4px;
}

#recentAlerts li a {
	color: #88C7FC;
	text-decoration: none;
}

#recentAlerts abbr {
	border-bottom: 0;
}

.displaylabel {
    background-color: #EBEDF2;
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    padding: 3px;
}

.displaysubhead {
    background-color: #EBEDF2;
    color: #F35E0C;
    font-weight: 700;
    padding: 3px;
    padding-top: 5px;
}

.displaycontent {
    background-color: #EBEDF2 !important;
    color: #000000;
    font-size: 11px;
    padding: 3px;
}

.displaycontent a {
	text-decoration: none;
	font-weight: bold;
}