<div id="header">
    <div id="headerLogo" title="Home" onclick="/Dashboard.do">&nbsp;</div>
    <if jwcid="@If" condition="ognl:isLoggedIn" renderTag="false">
    <div jwcid="@NavigationTabs"/>
    </if>
    <div jwcid="@Any" id="headerLinks" style="ognl:isLoggedIn?'':'right:0px'">
    <if jwcid="@If" condition="ognl:!isLoggedIn" renderTag="false"><span key="notSignedIn"></span></if>
    <else jwcid="@Else" renderTag="false"><span key="welcome"></span> <span jwcid="@Insert" value="ognl:getUserName()"></span><span><a href="/Logout.do"><span key="logout"></span></a></span></else>
    <span><a href="#"><span key="help"/></a></span>
    </div>
    <if jwcid="@If" condition="ognl:isLoggedIn" renderTag="false">
    <span jwcid="@SearchPanel"/>
    </if>
    <if jwcid="@If" condition="ognl:statusElement"><div id="statusElementBox"><div jwcid="@contrib:AjaxStatus" class="statusElement">&nbsp;</div></div></if>
</div>

<div id="headerBottom">&nbsp;</div>