<if jwcid="@If" condition="ognl:!pageName==@org.hyperic.ui.tapestry.page.PageListing@SIGN_IN">
<div id="navTabContainer">
    <ul>
        <li id="Dashboard" class="active"><a href="Dashboard.do"><span>Dashboard</span></a></li>
        <li id="Resources" class=""><a href="Resources.do"><span>Resources</span></a></li>
        <li id="Analyze" class=""><a href="Analyze"><span>Analyze</span></a></li>
        <li id="Settings" class=""><a href="Settings.html"><span>Settings</span></a></li>
        <li id="Administration" class=""><a href="Admin.do"><span>Administration</span></a></li>                   
    </ul>
</div>
</if>