<if jwcid="@If" condition="ognl:isLoggedIn">
<div id="navTabContainer">
    <ul>
        <li jwcid="@Any" class="ognl:isActive('dashbaord')?'active':''"><a href="/Dashboard.do"><span><span key="dashboard">Dashboard</span></span></a></li>
        <li jwcid="@Any" class="ognl:isActive('resource')?'active':''"><a id="browse" onclick="document.menu1.onclick(this)"><span><span key="resource">Resources</span></span></a></li>
        <li jwcid="@Any" class="ognl:isActive('reporting')||isActive('Plugin')?'active':''"><a id="analyze" onclick="document.menu2.onclick(this)"><span><span key="analyze">Analyze</span></span></a></li>
        <li jwcid="@Any" class="ognl:isActive('settings')?'active':''"><a href="/Settings.html"><span><span key="settings">Settings</span></span></a></li>
        <li jwcid="@Any" class="ognl:isActive('admin')?'active':''"><a href="/Admin.do"><span><span key="admin">Administration</span></span></a></li>                   
    </ul>
</div>
<div class="mainMenu" id="browse_1" style="display: none;">
    <div jwcid="@Any" class="mainMenuItem" onClick="ognl:'document.location='+'\''+getLocation(@org.hyperic.ui.tapestry.page.PageListing@RESOURCE_HUB)+'\''"><span key="inventory"/></div>
    <foreach jwcid="@For" source="ognl:navigationMenu.resourceMenuItems" value="ognl:item">
        <div jwcid="@Any" class="mainMenuItem" onClick="ognl:'document.location='+'\''+item.url+'\''"><span jwcid="@Insert" value="ognl:item.name" renderTag="false"/></div>
    </foreach>
    <div class="mainMenuItem" id="submenu" onclick="document.menu3.onclick(this)"><span><span key="recent"/></span></div>
</div>
<div class="mainMenu" style="display: none;" id="submenu_1">
    <foreach jwcid="@For" source="ognl:navigationMenu.recentResourceItems" value="ognl:item">
        <div jwcid="@Any" class="mainMenuItem" iconClass="ognl:item.iconClass" onClick="ognl:'document.location='+'\''+item.url+'\''"><span jwcid="@Insert" value="ognl:item.name" renderTag="false"/></div>
    </foreach>
    <div jwcid="@If" condition="ognl:navigationMenu.recentResourceItems.isEmpty()">
        <div jwcid="@Any" class="mainMenuItem" onClick=""><span key="none"/></div>
    </div>
</div>
<div class="mainMenu" id="analyze_1"style="display: none;">
    <div jwcid="@Any" class="mainMenuItem" iconClass="reportIcon" onClick="ognl:'document.location='+'\''+getLocation(@org.hyperic.ui.tapestry.page.PageListing@REPORTING)+'\''"><span key="reporting"/></div>
    <foreach jwcid="@For" source="ognl:navigationMenu.analyzeMenuItems" value="ognl:item">
        <div jwcid="@Any" class="mainMenuItem" iconClass="ognl:item.iconClass" onClick="ognl:'document.location='+'\''+item.url+'\''"><span jwcid="@Insert" value="ognl:item.name" renderTag="false"/></div>
    </foreach>
</div>
</if>