<shell jwcid="@Shell" title="ognl:pageTitle + ' - ' + staticTitle" stylesheets='ognl:styleSheetList' 
       delegate="ognl:new org.apache.tapestry.components.BlockRenderer(components.remainingHead)"
       ajaxDelegate="ognl:ajaxDelegate">
<block jwcid="remainingHead@Block">
<link rel="icon" href="/images/4.0/icons/favicon.ico"/>
<script language="JavaScript" type="text/javascript" src="/js/lib/lib.js"></script>
<script type="text/javascript">
    djConfig= {isDebug: false, parseOnLoad: true}
</script>
</block>
<body jwcid="@Body" class="ognl:'white '+@org.hyperic.ui.tapestry.components.BaseLayout@DOJO_THEME">

<div id="wrapper">
        
<span jwcid="@Header" statusElement="ognl:statusElement" navigationMenu="ognl:navigationMenu"/>

<div id="wrapper">
	<div id="content">
        <div dojoType="dijit.layout.BorderContainer" design="sidebar" persist="true"
            style="width: 100%; height: 800px;margin-top:20px">
            <div jwcid="@Any" dojoType="dijit.layout.ContentPane" region="left" style="ognl:width">
                <span jwcid="@RenderBlock" block="ognl:leftBlock"/>
            </div>
            <div dojoType="dijit.layout.ContentPane" region="center">
                <span jwcid="@RenderBlock" block="ognl:centerBlock"/>
            </div>
	    </div>
	</div>
</div>
</div>
</body>
</shell>