body {
    font: 76% Arial,Helvetica,sans-serif;
    background: #D8D8D8;
    border: 0;
    margin: 0
}

.white{
    background: #FFF;
}

#wrapper {
    min-width: 1038px
}

a:visited,a:hover,a {
    color: #57CBDB;
    text-decoration: none
}

/* HEADER */
#headerLogo {
    background: url('/images/4.0/logos/HQ.jpg') no-repeat 10% 99%;
    width: 352px;
    padding: 40px 0 0 10px;
    cursor: pointer;
    float: left
}

#headerBottom {
    margin-bottom: 6px;
    height: 5px;
    background: #2D6EBE none repeat scroll 0
}

#headerAlerts {
    position: absolute;
    top: 0;
    left: 320px;
    width: 410px;
    height: 38px;
    font-size: 10px;
    color: #FFF;
}

#headerLinks {
    position: absolute;
    top: 0;
    right: 55px;
    width: 292px;
    height: 20px;
    text-align: right;
    padding: 3px 8px 0 0;
    color: #FFF;
    font-size:11px
}

#headerLinks span {
    margin-left: 8px;
    font-weight: 500;
    color: #fff
}

#headerLinks a {
   color: #57CBDB;
    text-decoration: none
}

/* HEADER SEARCH */
#headerSearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 17px;
    background-color: #F96115;
    color: #FFF;
    padding: 3px 8px 3px 0px;
    text-align: right;
    cursor: pointer;
    font-weight: bold
}

#headerSearch a:hover {
    color: #57CBDB
}

#headerSearch a,a:visited {
    color: #FFF
}

#headerSearchBox {
    position: absolute;
    top: 22px;
    right: 0px;
    height: 29px;
    width: 260px;
    background-color: #F96115;
    color: #FFF;
    padding: 0px 1px 0px 7
    px;
    text-align: right;
    cursor: pointer
}

#headerSearchBox input[type=text] {
    color: gray;
    padding: 1px 30px 1px 0px;
    width: 218px
}

#headerSearchResults {
    position: absolute;
    top: 46px;
    right: 0px;
    height: auto;
    border: solid 1px #F96115;
    background-color: #FFF;
    width: 250px;
    padding: 4px;
    z-index: 9;
}

#headerSearchResults .category {
    margin-bottom: 3px;
    background: #92C1FD;
    color: #FFF;
    height: 12px;
    padding: 2px
}
#headerSearchResults a, a:visited, a:hover {
    color:#57CBDB
}

#headerSearchResults .all {
    margin-top: 3px;
    margin-bottom: 4px
}

#headerSearchResults li {
    margin: 2px 0px;
    padding: 1px 0px;
    width: 100%;
    border: 1px solid #FFF
}

#headerSearchResults li:hover {
    border: 1px dotted gray;
}

#headerSearchResults ul {
    margin: 0px;
    padding: 4px;
    list-style: none
}

#headerSearchResults li a {
    padding-left: 22px;
    color: #666;
    text-decoration: none
}

#headerSearchResults li a:hover {
    color: #222
}

.searchActive {
    background: #FFF url('/images/4.0/icons/progress2.gif') no-repeat 99% 50%
}

.searchComplete {
    background: #FFF
}

.platform {
    background: #FFF url('/images/4.0/icons/platform.png') no-repeat 0% 50%;
}

.server {
    background: #FFF url('/images/4.0/icons/server.png') no-repeat 0% 50%;
}

.service {
    background: #FFF url('/images/4.0/icons/service.png') no-repeat 0% 50%;
}

.application {
    background: #FFF url('/images/4.0/icons/application.png') no-repeat 0% 50%;
}

.group {
    background: #FFF url('/images/4.0/icons/group.png') no-repeat 0% 50%;
}

/* Navigation Tabs */
#navTabContainer {
    float: left;
    margin: 35px 0 0 20px
}

#navTabContainer ul {
    list-style: none;
    margin: 0;
    padding: 5px 8px 0
}

#navTabContainer li {
    display: inline;
    margin: 0 10px;
    padding: 0
}

#navTabContainer a {
    background: url('/images/4.0/tabs/tab_cap.gif') no-repeat right top;
    border-bottom: 0 solid #fff;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer
}

#navTabContainer a span {
    background: url('/images/4.0/tabs/tab_main.gif') no-repeat left top;
    color: #FFF;
    display: block;
    float: left;
    font-family: Helvetica,Arial,Verdana;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 3px;
    padding: 7px 15px 6px
}

#navTabContainer .active a {
    background: url('/images/4.0/tabs/tab_cap_active.gif') no-repeat right top;
    border-width: 0;
    margin-top: -3px
}

#navTabContainer .active a span {
    background: url('/images/4.0/tabs/tab_main_active.gif') no-repeat left top;
    color: #fff;
    padding-bottom: 7px;
    padding-top: 9px
}

#navTabContainer a:hover span {
    color: #333
}

#navTabContainer .active a:hover span {
    color: #fff
}

#container {
    background: #FFF;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin: 0 10px;
    padding: 10px
}

.fieldRow {
    margin-bottom: 2px;
    clear: right;
    height: 22px;
    padding: 6px 0 5px 6px
}

.active {
    background: #D9E4F1 none repeat scroll 0
}

.error {
    background: #FFDFDF none repeat scroll 0;
    color: red
}

.hint {
    height: 32px
}

.req {
    color: red!important;
    font-weight: 700
}

.msgPanel {
    margin-bottom: 9px;
    background-color: #FFF;
    background: url('/images/4.0/icons/exclamation.png') no-repeat 6px 40%;
    padding: 10px 2px 5px 28px
}

.msgError {
    color: red;
    border: 1px solid red
}

.fieldRow label {
    float: left;
    width: 75px;
    text-align: right;
    font-weight: 700;
    padding: 4px 5px 0 0
}

.fieldRow span.help {
    float: left;
    cursor: pointer;
    margin: 2px 0px 0px 4px;
    padding: 5px 10px 0 3px;
    background: url(images/4.0/icons/help.png) no-repeat
}

.fieldRow input {
    float: left
}

.fieldRow input[readonly='readonly'] {
    background: #EFEFEF
}

.fieldHint {
    margin-left: 85px;
    color: gray;
    font-size: 10px;
    float: left;
    padding-top: 2px
    clear:both
}

input[type=password],input[type=text] {
    border: 1px solid gray;
    width: 200px;
    padding: 2px
}

fieldset {
    border: 0;
    margin: 6px 0 0
}

.loginPanel {
    width: 330px;
    border: 1px solid #8EAFD6;
    background: #fff;
    margin: 150px auto 0;
    padding: 12px
}

.fieldsetTitle {
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    padding: 2px
}

.fieldsetNote {
    height: 15px;
    font-size: 13px;
    color: #444;
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
    padding: 3px 2px 8px
}

.button {
    float: right;
    margin-top: 10px
}

a.buttonGreen {
    background: transparent url('/images/4.0/buttons/button_green_right.gif') no-repeat scroll top right;
    color: #FFF;
    display: block;
    float: left;
    font: 400 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px;
    text-decoration: none;
    font-weight: 700
}

a.buttonGreen span {
    background: transparent url('/images/4.0/buttons/button_green_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    color: #FFF;
    padding: 5px 0 5px 18px
}

a.buttonGreen:active {
    background: transparent url('/images/4.0/buttons/button_green_right.gif') no-repeat scroll top right;
    background-position: bottom right;
    color: #FFF;
    outline: none
}

a.buttonGreen:active span {
    background: transparent url('/images/4.0/buttons/button_green_left.gif') no-repeat;
    background-position: bottom left;
    padding: 6px 0 4px 18px
}

.goButton {
    background: transparent url('/images/4.0/icons/accept.png') no-repeat;
    height: 16px;
    width: 16px;
    margin: 3px 2px 0px 5px
}

.cancelButton {
    background: transparent url('/images/4.0/icons/close.png') no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer
}

#header,#footer {
    height: 65px;
    background: #000 none repeat scroll 0
}

.right {
    float: right
}

.left {
    float: left
}

.clear {
    clear: both
}

.none {
    display:none
}

#menu{

}

#menu div{
    display: block;
    position: absolute;
    background-color: #FFF;
    padding: 2px 3px;
    border: 1px solid #777;
    width: 145px
}

#menu ul{
    margin:0px;
    padding:0px
}

#menu li{
    list-style:none;
    padding: 2px 4px;
    margin:2px 0px;
    font-weight:bold;
    cursor:pointer
}

#menu li:hover{
    border: 1px solid #4CD3F6;
    padding:1px 3px;
    color: #FF8400; /*222222*/
}

#menu li a,a:active{
    color: #4CD3F6
}

#subMenu{

}

.arrow{
    background: url('/images/4.0/icons/arrow_right.png') no-repeat 100% 50%;
}

.position1{
    top: 65px;
    left: 499px;
}
.position2{
    top: 95px;
    left: 644px;
}

body .dijitMenu {
    border:1px solid #006DBD;
    margin: 0px;
    padding: 0px;
    background-color:white;
}

body .dijitMenuTable {
    margin:0px 0px;
    border-collapse:collapse;
    border-width:1px;
    background-color:white;
    padding:2px;
}

body .dijitMenuTable TR{
    margin:2px;
}
body .dijitMenuItem{
    white-space: nowrap;
    padding:2px 4px;
    font: menu;
    margin: 0;
    color: #555; /*7FA9E3*/
}
body .dijitMenuItem TD {
    padding:3px;
    outline:0; 
}

body .dijitMenuItemHover {
    cursor:pointer;
    cursor:hand;
    background-color:#34C9F3;/*D9E3F0;*/
    color:#000;/*7FA9E3;*/
}

body .dijitMenuItemIcon {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

body .dijitMenuItemDisabled * {
    /* for a disabled menu item, just set it to mostly transparent */
    /*opacity:0.3;*/
    cursor:default;
}
body .dj_ie .dijit_a11y .dijitMenuItemDisabled td,
body .dj_ie .dijitMenuItemDisabled *,
body .dj_ie .dijitMenuItemDisabled td {
    color:gray !important;
    filter: alpha(opacity=35);
}

body .dijitMenuItemLabel {
    position: relative;
    vertical-align: middle;
}

body .dijit_a11y .dijitMenuItemHover .dijitMenuItemLabel {
    border-width: 1px;
    border-style: solid;
}
body .dijit_a11y .dijitMenuItemHover {
    border: 1px #fff dotted !important;
}

body .dijit_a11y .dijitMenuExpandInner { 
    display:block !important;
} 

/* separator can be two pixels -- set border of either one to 0px to have only one */
body .dijitMenuSeparatorTop {
    height: 50%;
    margin: 0px;
    margin-top:3px;
    font-size: 1px;
}

body .dijitMenuSeparatorBottom {
    height: 50%;
    margin: 0px;
    margin-bottom:3px;
    font-size: 1px;
}
body .dijitMenuSeparator{
    background-color: #FFF;
    font-family: menu;
    margin: 0pt;
}

body .dijitMenuExpandEnabled{
    background: transparent url('/images/4.0/icons/arrow_right.png') scroll 0%;
    width:16px;
    height:16px;
    overflow:hidden; 
    margin:0; padding:0; 
    background-repeat: none;
}
body .dijitArrowNode{
    display:none;
}
body .dijitReset{
    line-height:normal;
}
body .dijitPopup{
    position:absolute;
}

.myIcon{
    background: transparent url('/images/4.0/icons/arrow_right.png') scroll 0%;
    width:16px;
    height:16px;
    overflow:hidden; 
    margin:0; padding:0; 
}
.resourceIcon,.nagiosIcon,.recentIcon,.favoriteIcon,.alertIcon,.reportIcon{
    width:16px;
    height:16px;
    overflow:hidden; 
    margin:0; padding:0; 
}
.resourceIcon{
    background: transparent url('/images/4.0/icons/resource.png') no-repeat scroll 0%;
}
.nagiosIcon{
    background: transparent url('/images/4.0/icons/nagios.gif') no-repeat scroll 0%;
}
.recentIcon{
    background: transparent url('/images/4.0/icons/recent1.png') no-repeat scroll 0%;
}
.favoriteIcon{
    background: transparent url('/images/4.0/icons/favorite.png') no-repeat scroll 0%;
}
.alertIcon{
    background: transparent url('/images/4.0/icons/alert.png') no-repeat scroll 0%;
}
.reportIcon{
    background: transparent url('/images/4.0/icons/report.png') no-repeat scroll 0%;
}

/* table */
.dojogrid{
	width: 100%;
	height: 25em;
	padding: 1px;
}

/* MIG */
#migContainer{  
    margin-top:7px;
}
#migContainer a:visited, a:hover, a{
    color: #003399
}

.FooterTitle{
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: 700
}
