body {
    font: 76% Arial,Helvetica,sans-serif;
    background: #D8D8D8;
    border: 0;
    margin: 0
}

a:visited,a:hover,a {
    color: #57CBDB;
    text-decoration: none
}

#headerLogo {
    background: url('/images/4.0/logos/HQ.jpg') no-repeat 10% 99%;
    width: 370px;
    padding: 40px 0 0 10px;
    cursor: pointer;
    float: left;
}

#headerBottom {
    height: 5px;
    background: #2D6EBE none repeat scroll 0
}

#headerLinks {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 20px;
    text-align: right;
    color: #FFF;
    padding: 3px 8px 0 0
}

#headerLinks span {
    margin-left: 8px;
    font-weight: 500;
    color: #fff
}

#navTabContainer {
    float: left;
    margin: 35px 0 0 20px
}

#navTabContainer ul {
    list-style: none;
    margin: 0;
    padding: 5px 10px 0
}

#navTabContainer li {
    display: inline;
    margin: 0 10px;
    padding: 0
}

#navTabContainer a {
    background: url('/images/4.0/tabs/tab_cap1.gif') no-repeat right top;
    border-bottom: 0 solid #fff;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    text-decoration: none
}

#navTabContainer a span {
    background: url('/images/4.0/tabs/tab_main1.gif') no-repeat left top;
    color: #FFF;
    display: block;
    float: left;
    font-family: Helvetica,Arial,Verdana;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 4px;
    padding: 8px 15px 6px
}

#navTabContainer .active a {
    background: url('/images/4.0/tabs/tab_cap_active.gif') no-repeat right top;
    border-width: 0;
    margin-top: -3px
}

#navTabContainer .active a span {
    background: url('/images/4.0/tabs/tab_main_active.gif') no-repeat left top;
    color: #fff;
    padding-bottom: 7px;
    padding-top: 10px
}

#navTabContainer a:hover span {
    color: #333
}

#navTabContainer .active a:hover span {
    color: #fff
}

#container {
    background: #FFF;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin: 0 10px;
    padding: 10px
}

.fieldRow {
    margin-bottom: 2px;
    clear: right;
    height: 22px;
    padding: 6px 0 5px 6px
}

.active {
    background: #D9E4F1 none repeat scroll 0
}

.error {
    background: #FFDFDF none repeat scroll 0;
    color: red
}

.hint {
    height: 32px
}

.req {
    color: red!important;
    font-weight: 700
}

.msgPanel {
    margin-bottom: 9px;
    background-color: #FFF;
    background: url('/images/4.0/icons/exclamation.png') no-repeat 6px 40%;
    padding: 10px 2px 5px 28px
}

.msgError {
    color: red;
    border: 1px solid red
}

.fieldRow label {
    float: left;
    width: 75px;
    text-align: right;
    font-weight: 700;
    padding: 4px 5px 0 0
}

.fieldRow span.help {
    float: left;
    cursor: pointer;
    margin: 2px 0px 0px 4px;
    padding: 5px 10px 0 3px;
    background: url('/images/4.0/icons/help.png') no-repeat;
}

.fieldRow input {
    float: left
}

.fieldRow input[readonly=readonly]{
    background: #EFEFEF;
}

.fieldHint {
    clear: both;
    margin-left: 85px;
    color: gray;
    font-size: 10px;
    float: left;
    padding-top: 2px
}

input[type=password],input[type=text] {
    border: 1px solid gray;
    width: 200px;
    padding: 2px
}

fieldset {
    border: 0;
    margin: 6px 0 0
}

.loginPanel {
    width: 330px;
    border: 1px solid #8EAFD6;
    background: #fff;
    margin: 150px auto 0;
    padding: 12px
}

.fieldsetTitle {
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    padding: 2px
}

.fieldsetNote {
    height: 15px;
    font-size: 13px;
    color: #444;
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
    padding: 3px 2px 8px
}
.button {
    float:right;
    margin-top:10px
}

a.buttonGreen {
    background: transparent url('/images/4.0/buttons/button_green_right.gif') no-repeat scroll top right;
    color: #FFF;
    display: block;
    float: left;
    font: 400 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px;
    text-decoration: none;
    font-weight: 700
}

a.buttonGreen span {
    background: transparent url('/images/4.0/buttons/button_green_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    color: #FFF;
    padding: 5px 0 5px 18px
}

a.buttonGreen:active {
    background: transparent url('/images/4.0/buttons/button_green_right.gif') no-repeat scroll top right;
    background-position: bottom right;
    color: #FFF;
    outline: none
}

a.buttonGreen:active span {
    background: transparent url('/images/4.0/buttons/button_green_left.gif') no-repeat;
    background-position: bottom left;
    padding: 6px 0 4px 18px
}

#header,#footer {
    height: 65px;
    background: #000 none repeat scroll 0
}