/* inch the whole tabs up to show at the bottom of header exactly */
.mainMenu {
    margin-top: 6px;
}

/* tab images */
.mainMenu li {
    line-height: 1em;
    margin-right: 6px;
    background: url('/images/4.0/tabs/tab_main.gif') no-repeat left top;
}
.mainMenu li a {
    margin-right: -5px;
    color: #333;
    background: url('/images/4.0/tabs/tab_cap.gif') no-repeat right top;

    /* 
     * the next three styles are necessary to fix IE negative margin bug to
     * make the "a" element show up outside the parent element's box
     * see: http://haslayout.net/css/negmargin  
     */
    zoom: 1;
    position: relative;
    float: left;
}

.mainMenu li li {
    margin-right: 0px;
    background: #FFF;
}
.mainMenu li li a {
    margin-right: 0px;
    background: #FFF;
    color: #3179D4;
    float: none; /* this resets the float that was introduced in the ".mainMenu li a" rule above */
}
/* active tab images */
.mainMenu li.activeTab {
    background: url('/images/4.0/tabs/tab_main_active.gif') no-repeat left top;
}

.mainMenu li.activeTab a, .mainMenu li.activeTab a:visited {
    color: #FFF;
    background: url('/images/4.0/tabs/tab_cap_active.gif') no-repeat right top;
}

.mainMenu li.activeTab li a, .mainMenu li.activeTab li a:visited {
    color: #3179D4;
    margin-right: 0px;
    background: #FFF;
}

/* the links to submenus should have an arrow */
.mainMenu li.hasSubmenu a, .mainMenu li.hasSubmenu a:visited,.mainMenu li.activeTab li.hasSubmenu a, .mainMenu li.activeTab li.hasSubmenu a:visited {
    background: #FFF url('/images/4.0/icons/resultset_next.gif') no-repeat scroll 98% 1px;
}

/* however links within a submenu should not have an arrow */
.mainMenu li.hasSubmenu ul a,.mainMenu li.hasSubmenu ul a:visited,.mainMenu li.activeTab li.hasSubmenu ul a,.mainMenu li.activeTab li.hasSubmenu ul a:visited {
    background: #FFF;
}

.mainMenu li.activeTab a:hover {
	color: #000;
}
.mainMenu li.activeTab li a:hover {
	color: #C94304;
}
/* end tab images */