/* - - - ADxMenu: IE6 BASIC styles [MANDATORY] - - - */
/*
	this rules improves accessibility - if Javascript is disabled, the entire menu will be visible
	of course, that means that it might require different styling then.
	in which case you can use adxie class - see: aplus.co.yu/adxmenu/examples/ie6-double-style/
*/
.mainMenu ul {
	visibility: visible;
	position: static;
}
.mainMenu, .mainMenu ul {	/* float.clear */
	zoom: 1;
}
.mainMenu li.adxmhover {
	z-index: 10000;
}
.mainMenu .adxmhoverUL {	/* li:hover>ul selector */
	visibility: visible;
}
.mainMenu .adxmhoverUL {	/* 1st-level submenu go below their parent item */
	top: 100%;
	left: 30px; /* 30px to account for sticky div containing the ul */
}
.mainMenu .adxmhoverUL .adxmhoverUL {	/* 2nd+ levels go on the right side of the parent item */
	top: 0;
	left: 100%;
}
/* - - - ADxMenu: DESIGN styles - - - */
.mainMenu ul a {	/* fix clickability-area problem */
	zoom: 1;
}
.mainMenu li li {	/* fix white gap problem */
	float: left;
	/* seems to break the width of the submenus in IE on hyperic pages. Might have to uncomment this if our code gets more valid and kicks IE into standards mode. */
/* 	width: 100%; */ 
}

.mainMenu a:hover, .mainMenu .adxmhoverA {		/* li:hover>a selector */
	color: #C94304;
}
.mainMenu .adxmhoverUL .adxmhoverUL {	/* inset 2nd+ submenus, to show off overlapping */
	top: 35px; /* 30px to account for sticky div, 5 px to display it offset */
	left: 90%;
}