.mainMenu li a {
    /* fix negative margin bug in IE7 */
    zoom: 1;
    position: relative;
}

/* TODO: remove the below once we start using HTML5 doctype */
/* these are needed as long as we are using the JS fix from IE6 for IE7 as well, because our pages are in quirks mode */
.mainMenu li.adxmhover {
	z-index: 10000;
}
.mainMenu .adxmhoverUL {	/* li:hover>ul selector */
	visibility: visible;
}
.mainMenu .adxmhoverUL {	/* 1st-level submenu go below their parent item */
	top: 100%;
	left: 30px; /* 30px to account for sticky div containing the ul */
}
.mainMenu .adxmhoverUL .adxmhoverUL {	/* 2nd+ levels go on the right side of the parent item */
	top: 0;
	left: 100%;
}
.mainMenu .adxmhoverUL .adxmhoverUL {	/* inset 2nd+ submenus, to show off overlapping */
	top: 35px; /* 30px to account for sticky div, 5 px to display it offset */
	left: 90%;
}
.mainMenu li li {	/* fix white gap problem */
	float: left;
	/* seems to break the width of the submenus in IE on hyperic pages. Might have to uncomment this if our code gets more valid and kicks IE into standards mode. */
/* 	width: 100%; */ 
}