#recentAlerts {
   padding-left:0px;
}


.dojoMenuBar2 {
padding-top:2px;
padding-bottom:2px;
}

.dojoMenuBar2 .dojoMenuItem2 {
    padding:3px 15px 3px; 15px;
}

.headUsrName {
    font-size:10px;
    z-index:10;
}