.messagePanel {
	padding: 5px 2px 5px 5px;
	margin-bottom: 9px;
	background-color: #FFFD99;
}
.messageWarning{
	border:1px solid #FFCC33;background-color:#FFFFCC;padding:5px;margin:10px;font-size:13px;
}
.messageInfo {
	border:1px solid #004BD6;background-color:#DCF9FF;padding:9px;margin:10px 0px 10px 10px;font-size:13px;
}

.infoIcon{
    height:32px;width:32px;background:url("/images/icon_info_small.gif") no-repeat;float:left;
}

.dashboard {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #DBE3F5;
	margin: 0px 0px 6px 0px;
	font-size: 12px;
}

.info {
	border: 1px solid red;
	background-color: #FFFD99;
}

.warning {
	
}

.error {
	border: 1px solid red;
}

.hidden {
	display: none;
}

.dojoDialog{
    background-color:#FFF;
    width:300px;
    height:240px;
}

.dojoDialogBody{
    padding-left:6px;
    padding-right:6px;
}

.DashboardSelectBoxLabel {
    vertical-align:top;
    display:block;
    padding:3px;
}

.dojoDialogFooter{
    height:26px;
    background-color:#efefef;
    bottom:0;
    position:absolute;
    width:294px;
    padding:5px 3px 0;
}

.dojoDialogHeader{
    background-color:#60A5EA;
    color:#FFF;
    font-size:12px;
    font-weight:700;
    padding:3px;
}

.dojoDialogMessage{
    background:#EFEFEF none repeat scroll 0;
    color:red;
    padding:7px;
}

.right{
    float:right;
}