#container {
	margin: 20px;
}

div,input,textarea,select,p {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8.5pt;
	color: #000000;
	padding: 1px;
}

input[type="text"]{
	border: solid 1px gray;
	padding-top:1px;
	padding-left:2px;
	color: #000;
}

input[type="text"]:focus {
	border: solid 1px #F35E0C;
	cursor: text;
}

input[type="text"]:hover {
	border: solid 1px #F35E0C;
	cursor: text;
}

select {
	width: 200px;
	border: solid 1px gray;
	
}

select:focus{
	color: #000;
	border: solid 1px #F35E0C;
}

select:hover{
	color: #000;
	border: solid 1px #F35E0C;
}

label {
	margin-bottom: 10px;
}

hr {
	border: none;
	background-color: #F35E0C;
	height: 1px;
}

button {
	margin-right: 10px;
}

fieldset {
	font-family: Arial,Helvetica,sans-serif;
	color: #000;
	background-color: #EBEDF2;
	padding: 10px 0px 10px 10px;
	border: none;
	border-bottom: solid 1px #dddddd;
	margin-bottom: 10px;
}

.fieldsetTitle {
	margin: -10px 0px 20px -10px;
	font-size: 9pt;
	padding: 3px;
	color: white;
	background: #60A5EA;
	font-weight:bold;
}

.fieldRow {
	margin-bottom: 10px;
	vertical-align: center;
	clear:both;
}

.fieldValue{
	float: left;
	margin-bottom: 3px;
}

.fieldLabel {
	float: left;
	width: 185px;
	height: 24px;
	clear: both;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
	font-weight: bold;
}

.buttonGroup {
	padding-top: 15px;
	margin-left: 210px;
}

.buttonSeparator{
	margin-left:20px;
}

.buttonNote{
	margin-top: 5px;
	color:#999999;
	font-size: 11px;
}

.verticalGroup{
	display:block;
}

.date{
	width: 19px;
	height: 15px;
	margin-left: 5px;
	border:0px;
	/*background: url("dateIcon.gif") no-repeat;*/
}

.calendarContainer {
	font-size: 10pt;
}

.error{
	background-color: #FFFD99;
	padding-right:5px;
	padding-bottom:5px;
}

.error input[type="text"]{
	font-color: red;
}