<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HQ"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=HQ"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit3"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HQ"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024m -Xms1024m -XX:MaxPermSize=300m -Djava.system.class.loader=org.hyperic.util.unittest.server.IsolatingDefaultSystemClassLoader -Dhq.unittest.run=true -Dhq.unittest.jboss.home=${jboss_home} -Dhq.unittest.hq.home=${workspace_loc:HQ} -Dhq.unittest.working.dir=${workspace_loc:HQ}/unittest/data -Dhq.example.plugins=${workspace_loc:HQ}/plugins/examples -Dhq.server.ds-mapping=${hq_server_ds_mapping} -Dhq.jdbc.url=${hq_jdbc_url} -Dhq.jdbc.name=${hq_jdbc_dbname} -Dhq.jdbc.user=${hq_jdbc_user} -Dhq.jdbc.password=${hq_jdbc_password} -Dhq.jdbc.server=${hq_jdbc_server}"/>
</launchConfiguration>
