<div jwcid='editor@Any'>
  The Critter editor
  <ul>
    <li jwcid="critters@For" source="ognl:critters" 
        value="ognl:critter" element="li">
      <li>
        <span jwcid="@If" condition="ognl:editingCritter">
          <!-- Block associated with critters we are editing -->
          <form jwcid="propEdit@Form" 
                success="listener:propsSubmit"
                cancel="listener:propsCancel"
                refresh="listener:propsRefresh">
            [Edit Mode]
            <select jwcid="propSelector@PropertySelection" 
                    model="ognl:critterTypesList" 
                    value="ognl:editingType"/>
            (<span jwcid="@Insert" value="ognl:editingType.description"/>)
          
            <ul>
              <li jwcid="props@For" source="ognl:editingProps"
                  value="ognl:prop">
                <li>
                    <span jwcid="@If" condition="ognl:prop.stringProp">
                      <span jwcid="@Insert" value="ognl:prop.name"/>
                      <input jwcid="@TextField" value="ognl:prop.stringValue"/>
                    </span>
                </li>
              </li>
            </ul>
            <input jwcid="@Submit"  submitType="refresh" 
                   value="[Refresh]" async="true"/>
            <input jwcid="@Submit" submitType="submit" 
                   value="[Save]" async="true"/>
            <input jwcid="@Submit" submitType="cancel" 
                   value="[Cancel]" async="true"/>
          </form>
        </span>
        
        <span jwcid="@Else">
          <!-- Block associated with critters NOT being edited -->
          <span jwcid="@Insert" value="ognl:critter.config"/>

          <!-- Plus-signs -->
          <span jwcid="@If" condition="ognl:showPlusSigns">        
            <span jwcid="@DirectLink" async="true" 
                  listener="listener:addCritterClicked"
                  parameters="ognl:critter.index">+</span>
          </span>
          
          <!-- Edit-signs -->
          <span jwcid="@If" condition="ognl:showEditSigns">
            <span jwcid="@DirectLink" async="true"
                  listener="listener:editCritterClicked"
                  parameters="ognl:critter.index">[Edit]</span>
          </span>
          
        </span>

      </li>
    </li>
  </ul>
</div>
