<div jwcid='listContents@Any'>
  <ol>
    <li jwcid="listLinks@For" source="ognl:listItems" value="ognl:item" element="li">
      <li>
        <span jwcid="listLink@DirectLink" async="true"
              listener="listener:selectItem" 
              parameters="ognl:item.id">
          <span jwcid="@If" condition="ognl:loopedItemIsSelected">
            <span jwcid="@RenderBlock" block="ognl:selectedBlock"
                  item="ognl:item"/>
          </span>
          <span jwcid="@Else">
            <span jwcid="@RenderBlock" block="ognl:unselectedBlock"
                  item="ognl:item"/>
          </span>
        </span>
      </li>
    </li>
  </ol>
</div>
