<div id="headerSearch"><span key="search"></span></div>
<div id="headerSearchBox" style="display:none">
    <div style="float:left;margin:3px 0px 3px 0px;">
        <input type="text" id="searchBox" value=""></input>
    </div>
</div>
<div id="headerSearchResults" style="display:none">
    <a jwcid="@PageLink" page="resource/Hub" class="all left"><span key="allResults"></span></a>
    <div id="searchClose" class="cancelButton right"></div>
    <div class="clear">&nbsp;</div>
    <div class="resultsGroup">
        <div class="category"><span key="resources"></span> (<span id="resourceResultsCount"></span>)</div>
        <ul id="resourceResults">
        </ul>
    </div>
    <div class="resultsGroup">
        <div class="category"><span key="alerts"></span> (0)</div>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="resultsGroup">
        <div class="category"><span key="events"></span> (0)</div>
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<div dojoType="dijit.Tooltip" connectId="headerSearch"><span jwcid="@InsertText" raw="true" value="message:searchButtonTooltip"/></div> 