<div id="headerSearch" onclick="toggleSearchBox()">Search</div>
<div id="headerSearchBox" style="display:none">
    <div style="float:left;margin:3px 0px 0px 0px;"><input type="text" id="searchBox" onkeypress="showResults(this)" onfocus="searchFocus(this)" onblur="searchBlur(this)" value="search for..."></input></div>
    <div class="goButton" style="float:left" onclick="showResults()"></div>
    <div id="cancelSearch" class="cancelButton" style="float:left" onclick="toggleSearchBox()">X</div>
</div>
<div id="headerSearchResults" style="display:none;">
    <div class="all"><a>Show All Results</a></div>
    <div class="resultsGroup">
        <div class="category">Resources (0)</div>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="resultsGroup">
        <div class="category">Events (0)</div>
        <ul>
            <li></li>
        </ul>
    </div><div class="resultsGroup">
        <div class="category">Alerts (0)</div>
        <ul>
            <li></li>
        </ul>
    </div>
</div>